In [3]:
a= 2
print('id(2) =', id(2)) 
a=a+1
print('id(a) =',id(a))
b =2
print('id(2) =', id(b))
print('id(3) =', id(3))

id(2) = 140706208090584
id(a) = 140706208090616
id(3) = 140706208090616

In [5]:
def outer():
    global a 
    a=20
    
    def inner():
        global a
        a= 30
        print('a =',a)
        
    inner()
    print('a =', a)
    
a=10
print('a =',a)
outer()
print('a =', a)

a = 10
a = 30
a = 30
a = 30

In [1]:
num = 123 
float = 324.4
new = num + float 

print("datatype:",type(num))
print("data type of float ", type(float))

print("Value of new num",new)
print("datatype of it is:",type(new))

datatype: <class 'int'>
data type of float  <class 'float'>
Value of new num 447.4
datatype of it is: <class 'float'>

In [2]:
int = 123
str = "234"

print(type(int))
print(type(str))

<class 'int'>
<class 'str'>

In [6]:
intd = 123
nstr = "234"
print(intd)
nstr = int(nstr)
print(type(nstr))

sum = intd+str
print(sum)

123

TypeError: 'int' object is not callable

In [ ]:
# this is single line comments
"""
mutliline comments 
so we can add it 
too much line in it

"""

In [7]:
a= 1

In [ ]:
b =1+2+3+ \
    4+5+6 
print(b)
c =(1+2+3+
    4+5+6)
print(c)

In [9]:
d =1; e = 3 ;  f =0
print(d,e,f)

1 3 0

In [8]:
for i in range(1,11):
    print(i)
    if i==5:
        break 
print(f"At th e end of lines")

1
2
3
4
5
At th e end of lines