In [1]:
a =[['Roy',40,45,56,78],
    ['John',34,54,56,67],
    ['ged',33,44,55,77]]

b =[['Joy',40,45,56,78],
    ['Dohn',34,54,56,67],
    ['Aed',33,44,55,77]]

print(a)
print()
print(b)

[['Roy', 40, 45, 56, 78], ['John', 34, 54, 56, 67], ['ged', 33, 44, 55, 77]]

[['Joy', 40, 45, 56, 78], ['Dohn', 34, 54, 56, 67], ['Aed', 33, 44, 55, 77]]

In [2]:
n = 3
m = 4
a =[0] * (n)
print(a)
for i in range(n):
    a[i] =[0] * m
print(a)

[0, 0, 0]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [3]:
print(a)
print(a[0])
print(a[0][1])
print(a[0][2])

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[0, 0, 0, 0]
0
0

In [4]:
print(a)
print(a[-1])
print(a[-2])

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[0, 0, 0, 0]
[0, 0, 0, 0]

In [5]:
print(a)
b=a[0]
print(b)

b[1] =75
print(b)
print(a)

a[2] =['Aaam',33,54,56,67]
print(a)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[0, 0, 0, 0]
[0, 75, 0, 0]
[[0, 75, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 75, 0, 0], [0, 0, 0, 0], ['Aaam', 33, 54, 56, 67]]

In [6]:
my_set = {11,22,33,44}
print(my_set)

set2 = {101, "Ali",(22,2,1992)}
print(set2)

set3 ={11,22,33,44,22,55}
print(set3)

{33, 11, 44, 22}
{(22, 2, 1992), 'Ali', 101}
{33, 22, 55, 11, 44}

In [8]:
# set4 = {1,2,[2,3]}

set5 = set([1,2,3,4])
print(set5)
print(type(set5))

mylist = list({11,22,33,55})
print(mylist)
print(type(mylist))

{1, 2, 3, 4}
<class 'set'>
[33, 11, 22, 55]
<class 'list'>

In [10]:
set1 = {11,33,44,55}
print(set1)

set1.add(99)
print(set1)

set1.update([100,300], {103,104,105})
print(set1)

{33, 11, 44, 55}
{33, 99, 11, 44, 55}
{33, 99, 100, 103, 104, 105, 11, 44, 300, 55}

In [12]:
my = {11,22,33,44,55}
print(my)

my.discard(4)
print(my)


my.remove(44)
print(my)

{33, 22, 55, 11, 44}
{33, 22, 55, 11, 44}
{33, 22, 55, 11}

In [14]:
print(my.pop())
my.clear()
print(my)

22
set()

In [15]:
my1 = {11,22,33,44,55}
my2 = {22,33,44,55,66,77}

print(my1)
print(my2)

print(my1 | my2)
print(my2 | my1)

print(my1.union(my2))
print(my2.union(my1))

{33, 22, 55, 11, 44}
{33, 66, 22, 55, 44, 77}
{33, 66, 11, 44, 77, 22, 55}
{33, 66, 11, 44, 77, 22, 55}
{33, 66, 11, 44, 77, 22, 55}
{33, 66, 11, 44, 77, 22, 55}

In [16]:
print(my1 & my2)
print(my2.intersection(my1))

{33, 44, 22, 55}
{33, 44, 22, 55}

In [17]:
print(my2 -my1)
print(my1.difference(my2))

{66, 77}
{11}

In [19]:
print(my1 ^my2)
print(my1.symmetric_difference(my2))

{66, 11, 77}
{66, 11, 77}

In [21]:
print( 2 in my1)
print(66 in my1)
print(66 in my2)

False
False
True

In [22]:
for letter in set("welcome"):
    print(letter)

c
e
o
m
w
l

In [23]:
print(max(my1))
print(min(my2))
print(len(my1))
print(sorted(my1))

55
22
5
[11, 22, 33, 44, 55]

In [26]:
my1 =frozenset([2,3,4,5])
my2 =frozenset([2,3,4,5])

print(my1.difference(my2))
print(my1.union(my2))
print(my1.intersection(my2))
print(my1.symmetric_difference(my2))

frozenset()
frozenset({2, 3, 4, 5})
frozenset({2, 3, 4, 5})
frozenset()